<!--@subject {{var subject}}@-->

{{template config_path="design/email/header_template"}}
<p class="greeting">Hello test</p>
<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="left">
                <tr>
                    <h1>Event page {{var pageStatus}}.</h1>
                    <p class="highlighted-text">Event Page with ID {{var pageId}} has been {{var pageStatus}}.</p>
                    <ul>
                        <li>Event title - {{var pageTitle}}.</li>
                        <li><a href="{{var pageUrl}}">Link to Event</a></li>
                    </ul>
                    <p>
                        If you have any questions, please visit All Events Calendar.
                        <a href="{{var link}}">Link to Calendar</a>
                    </p>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}