<?php
/**
 * Copyright © 2016 Webinse. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="widget block block-calendar-events">
    <div class="block-title">
        <strong role="heading" aria-level="2"><?php /* @escapeNotVerified */ echo __('Calendar Events') ?></strong>
    </div>
    <div class="block-content">
        <script>
            require(['jquery', 'moment'], function($) {
                $(document).ready(function() {

                var view = $.cookie('defaultView');
                if(!view){
                    view = "<?php echo $this->getData('calendar_widget_view');?>";
                }
                $('#calendar-sm').fullCalendar({
                    editable: false,
                    eventLimit: true,
                    eventColor: '#<?php echo $this->getData('calendar_event_color'); ?>',
                    eventTextColor: '#<?php echo $this->getData('calendar_event_text_color'); ?>',
                    eventBorderColor: '#<?php echo $this->getData('calendar_event_border_color'); ?>',
                    //events: <?php /*echo $this->getJsonEvents();*/?>,
                    defaultView: view,
                    contentHeight: view == 'month' ? 375 : 150,
                    <?php if($this->helper('Webinse\CalendarEvents\Helper\Data')->getFirstDay() == 0)
                    echo 'firstDay: 0,';
                    else
                    echo 'firstDay: 1,';
                    ?>
                    events:'',
                    defaultView: view,
                    contentHeight: view == 'month' ? 375 : 150,
                    <?php /*if(Mage::getStoreConfig('calendar_events/events/first_day') == 0)
                        echo 'firstDay: 0,';
                    else
                         echo 'firstDay: 1,';
                    */?>
                    header: {
                        left: 'title',
                        center: 'prev,next',
                        right: 'today month,basicWeek,basicDay'
                    },
                    dayNamesShort: ['S', 'M', 'T', 'W', 'T', 'F', 'S']
                });
                $(".fc-month-button").click(function(){
                    Cookies.set('defaultView', 'month');
                    $('#calendar-sm').fullCalendar('option', 'contentHeight', 375);
                });
                $(".fc-basicWeek-button").click(function(){
                    Cookies.set('defaultView', 'basicWeek');
                    $('#calendar-sm').fullCalendar('option', 'contentHeight', 150);
                });
                $(".fc-basicDay-button").click(function(){
                    Cookies.set('defaultView', 'basicDay');
                    $('#calendar-sm').fullCalendar('option', 'contentHeight', 150);
                });


                })});


        </script>
        <div id='calendar-sm'></div>

        <style>
            #calendar-sm .fc-content{
                font-size:<?php echo $this->getData('calendar_text_size'); ?>px;
                text-transform: <?php echo $this->getData('calendar_text_transform'); ?>;
                font-family: <?php echo $this->getData('calendar_text_family'); ?>;
                font-style: <?php echo $this->getData('calendar_text_style'); ?>;
            }
        </style>
    </div>
</div>