<script>
    require(['jquery', 'moment'], function($) {
    $(document).ready(function() {

        $('#calendar').fullCalendar({
            /*header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },*/
            viewRender: function(view, element){
                var now = new Date();
                var end = new Date();
                var begin = new Date();
                end.setMonth(now.getMonth() + 6);
                begin.setMonth(now.getMonth() - 6);

                if(end < view.end){
                    $(".fc-next-button").addClass("fc-state-disabled");
                    return false;
                }
                else{
                    $(".fc-next-button").removeClass("fc-state-disabled");
                }

                if(begin > view.start){
                    $(".fc-prev-button").addClass("fc-state-disabled");
                    return false;
                }
                else{
                    $(".fc-prev-button").removeClass("fc-state-disabled");
                }
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            eventColor: '#<?php echo $this->helper('Webinse\CalendarEvents\Helper\Data')->getEventColor(); ?>',
            eventTextColor: '#<?php echo $this->helper('Webinse\CalendarEvents\Helper\Data')->getEventTextColor(); ?>',
            eventBorderColor: '#<?php echo $this->helper('Webinse\CalendarEvents\Helper\Data')->getEventBorderColor(); ?>',
            <?php if($this->helper('Webinse\CalendarEvents\Helper\Data')->getFirstDay() == 0)
                echo 'firstDay: 0,';
            else
                echo 'firstDay: 1,';
            ?>
            events: <?php echo $this->getJsonEvents();?>,
            <?php
                switch($this->helper('Webinse\CalendarEvents\Helper\Data')->getDayName()){
                    case(1):  echo "dayNamesShort: ['S', 'M', 'T', 'W', 'T', 'F', 'S']"; break;
                    case(2):  echo "dayNamesShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']"; break;
                    case(3):  echo "dayNamesShort: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']"; break;
                }
            ?>
        });

    })});

</script>
<style>
    #calendar .fc-content{
        font-size:<?php echo $this->helper('Webinse\CalendarEvents\Helper\Data')->getEventTextSize(); ?>px;
        text-transform: <?php echo $this->helper('Webinse\CalendarEvents\Helper\Data')->getEventTextTransform(); ?>;
        font-family: <?php echo $this->helper('Webinse\CalendarEvents\Helper\Data')->getEventFontFamily(); ?>;
        font-style: <?php echo $this->helper('Webinse\CalendarEvents\Helper\Data')->getEventFontStyle(); ?>;
    }
</style>

<div id='calendar'></div>