<?php
echo $this->getCmsBlock();
?>
<div id="popup-modal">
</div>
<div id="messages" style="padding-top: 5px">
    <div class="message">
        <button class="primary">Invite Friend</button>
    </div>
</div>
<div class="entry-social">
    <div class="fb">
        <a href="<?php echo ('https://www.facebook.com/sharer/sharer.php?u='.$this->getCurrentUrl())?>" target="_blank">Facebook</a>
    </div>
    <div class="twitter">
        <a href="<?php echo ('https://twitter.com/home?status=Check%20out%20this%20awesome%20Event%20'.$this->getCurrentUrl())?>" target="_blank">Twitter</a>
    </div>
    <div class="gplus">
        <a href="<?php echo ('https://plus.google.com/share?url='.$this->getCurrentUrl())?>" target="_blank">Google+</a>
    </div>
</div>
<style type="text/css">
    .entry-social {margin-bottom: 20px;color: rgb(126, 126, 126);display: block;font-family: 'Open Sans',Tahoma, Verdana, Arial, sans-serif, Faruma, Faseyha;font-size: 14px;font-weight: normal;height: auto;line-height:23.799999237060547px;margin-bottom: 20px;width: 100%; width: 100%;float:left;border: solid 0px #aaa;padding-top: 10px;}
    .entry-social div {display: block;width:138px;margin:2px;display: inline-block; vertical-align: middle;}
    .entry-social a {text-decoration:none;display: block;padding-left: 20px;color: #FFFFFF !important;font-weight: bold;transition:background-color .3s;    }
    .entry-social .fb a {padding: 7px 10px 7px 26px;background: #3B5999 url('http://3.bp.blogspot.com/-yqD2363XuAo/UeDk98twSlI/AAAAAAAAArg/kXIzFBWmczM/s1600/fb14.png') no-repeat 10px center;}
    .entry-social .twitter a {padding: 7px 10px 7px 32px;background: #01BBF6 url('http://3.bp.blogspot.com/-0u8P4VQmEeU/UeDlVdilwcI/AAAAAAAAAro/lGTnlvHGyVw/s1600/twitter14.png') no-repeat 8px center;}
    .entry-social .gplus a {padding: 7px 10px 7px 32px;background: #D54135 url('http://3.bp.blogspot.com/-A8fFRexz_zk/UeDlgadvpiI/AAAAAAAAArw/TRd7NWNwo9s/s1600/gplus14.png') no-repeat 10px center;}
    .entry-social .fb a:hover {background-color: rgb(50, 75, 129);}
    .entry-social .twitter a:hover {background-color: rgb(1, 159, 211);}
    .entry-social .gplus a:hover {background-color: rgb(191, 52, 40);}
</style>
<script type="text/javascript">// <![CDATA[
    function validateEmail(email) {
        var reg = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return reg.test(email);
    };
    require([
            'jquery',
            'Magento_Ui/js/modal/alert'
        ],

        function($, modal) {
            $('#messages').on('click', 'button.primary', function(event){
                    var options = {
                        type: 'popup',
                        responsive: true,
                        innerScroll: true,
                        title: 'Invite your friend!',
                        content: $('#popup-modal').append('<form id="contact" name="contact" action="#" method="post">'),
                        content: $('#popup-modal').append('<label for="name">Your Name </label><br>'),
                        content: $('#popup-modal').append('<input id="name" type="text" name="name" class="txt"><br>'),
                        content: $('#popup-modal').append('<label for="email">Your E-mail </label><br>'),
                        content: $('#popup-modal').append('<input type="email" id="u-email" name="u-email" class="txt"><br>'),
                        content: $('#popup-modal').append('<label for="fr-email">Your Friend E-mail</label><br>'),
                        content: $('#popup-modal').append('<input type="email" id="fr-email" name="fr-email" class="txt"><br>'),
                        content: $('#popup-modal').append('<textarea id="msg" name="msg" class="txtarea"></textarea>'),
                        content: $('#popup-modal').append('</form>'),
                        buttons: [{
                            text: $.mage.__('Send E-mail'),
                            class: '',
                            click: function () {
                                //this.closeModal();
                                var namelval  = $("#name").val();
                                var emailval  = $("#u-email").val();
                                var fremailval  = $("#fr-email").val();
                                var msgval    = $("#msg").val();
                                var msglen    = msgval.length;
                                var mailvalid = validateEmail(emailval);

                                if(mailvalid == false) {
                                    $("#u-email").addClass("error");
                                }
                                else if(mailvalid == true){
                                    $("#email").removeClass("error");
                                }

                                if(msglen < 4) {
                                    $("#msg").addClass("error");
                                }
                                else if(msglen >= 4){
                                    $("#msg").removeClass("error");
                                }

                                if(mailvalid == true && msglen >= 4) {
                                    $("#send").replaceWith("<em>sending...</em>");

                                    var request = $.ajax({
                                        url: "<?php echo $this->getUrl('calendar_events/index/send') ?>",
                                        method: "POST",
                                        data: {msg: msgval, email: emailval, name: namelval, fremail: fremailval},
                                        dataType: "html"
                                    });

                                    request.done(function() {
                                        $("#contact").fadeOut("fast", function(){
                                            $(this).before("<p><strong>Success! Your mail has been sent.</strong></p>");
                                            location.reload();
                                            //setTimeout("$.fancybox.close()", 1000);
                                        });
                                    });
                                }
                            }
                        }]
                    };

                    var popup = modal(options, $('#popup-modal'));
                    $('#popup-modal').modal('openModal');
                    //}
               // }
            })
        }
    );
    // ]]>
</script>
